/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1600px) {
	.menu {
		font-size: 16px;
	}
	.mortgage-block ul, .item-service__list {
		font-size: 18px;
	}
	.item-service__title {
		font-size: 22px;
	}
	.row_catalog > div {
		padding: 0 15px;
	}
	.row_catalog {
		margin: 0 -15px;
	}
	.title-middle {
		font-size: 36px;
		padding-bottom: 20px;
	}
	.descr-big {
		font-size: 22px;
	}
	.consult-block .descr-big {
		max-width: 580px;
	}
	.consult-block {
		padding: 55px 40px;
	}
	.item-step {
		font-size: 17px;
		padding: 34px 30px;
		padding-right: 33px;
		padding-bottom: 30px;
	}
	.row_steps > div {
		padding: 0 20px;
	}
	.row_steps {
		margin: 0 -20px;
	}
	.title-section {
		font-size: 42px;
		line-height: 52px;
	}
	.steps .title-section { 
		max-width: 639px;
	}
	.mortgage .title-section {
		line-height: 54px;
	}
	.slider-catalog .item-catalog {
		margin: 0 15px;
	}
	.slider-catalog {
		margin: 0 -15px;
	}
	.slider-catalog > .slick-prev {
		left: -24px;
	}
	.slider-catalog > .slick-next {
		right: -24px;
	}
	.title-small {
		font-size: 26px;
	}
	.slider-reviews .slick-slide {
		padding: 20px 15px;
	}
	.slider-reviews {
		margin: 0 -15px;
		margin-top: 40px;
	}
	.arrows-bottom .slick-arrow {
		right: 15px;
	}
	.arrows-bottom .slick-prev {
		right: 58px;
	}
	.row_insta {
		margin: 0 -15px;
	}
	.footer .social-links {
		margin-right: -25px;
	}
	.title-big {
		font-size: 50px;
		line-height: 60px;
	}
	.billbord .title-big {
		padding-bottom: 50px;
	}
	.list-main li {
		margin-bottom: 25px;
	}
	.item-news__title {
    font-size: 22px;
}
.item-news__date {
    font-size: 16px;
    }
    .item-news__image {
    height: 222px;
}
.item-news {
	margin-bottom: 40px;
}
.col_article {
    padding-right: 35px;
}
.item-catalog__image {
	height: 220px;
}
.col_consult {
    padding-left: 20px;
}
.consult__title {
	font-size: 22px;
}
.feature-card {
    font-size: 17px;
    line-height: 33px;
    margin-left: 50px;
    }
    .price-card {
    font-size: 26px;
}
.consult {
	padding: 30px 20px;
}
}
@media only screen and (max-width : 1400px) {
	.phones-item {
		font-size: 16px;
	}
	.menu {
		font-size: 15px;
	}
	.title-big {
		font-size: 46px;
		line-height: 55px;
	}
	.item-service__content {
		padding: 20px 15px;
	}
	.item-service__list li {
		margin-top: 23px;
	}
	.mortgage-block ul, .item-service__list {
		font-size: 16px;
	}
	.item-service__title {
		font-size: 20px;
	}
	.block-filter {
		padding: 28px 15px;
		padding-bottom: 30px;
	}
	.block-filter .range-catalog {
		width: 234px;
	}
	.buttons-filter .btn-clear {
		margin-left: 20px;
	}
	.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
		font-size: 14px;
	}
	.item-catalog__title {
		font-size: 18px;
	}
	.item-catalog__price {
		font-size: 17px;
	}
	.item-catalog__price-per {
		font-size: 16px;
	}
	.item-catalog__price-per sup {
		font-size: 9px;
	}
	.catalog-wrap {
		padding: 20px;
	}
	.item-catalog__image {
		height: 200px;
	}
	.row_catalog > div {
		margin-bottom: 20px;
	}
	.form-line .item-form {
		width: 265px;
	}
	.consult-block__left {
		max-width: 500px;
	}
	.block-form {
		padding-left: 30px;
		padding-right: 30px;
	}
	.block-form .btn-main {
		font-size: 16px;
		height: 60px;
	}
	.help .list-main li {
		padding-left: 63px;
		padding-right: 40px;
	}
	.list-main li {
		font-size: 18px;
	}
	.title-section {
		font-size: 37px;
		line-height: 48px;
		padding-bottom: 40px;
	}
	.steps .title-section {
		max-width: 557px;
	}
	.mortgage .title-section {
		line-height: 45px;
	}
	.descr-big {
		font-size: 20px;
	}
	.item-min {
		height: 220px;
	}
	.row_min {
		margin-bottom: 30px;
	}
	.slider-catalog > .slick-prev {
		left: -4px;
	}
	.slider-catalog > .slick-next {
		right: -4px;
	}
	.item-review__title {
		font-size: 21px;
	}
	.item-review {
		padding: 30px 20px;
	}
	body {
		font-size: 14px;
		line-height: 23px;
	}
	.title-min {
		font-size: 18px;
		padding-bottom: 15px;
	}
	.footer .social-links {
		margin-right: -10px;
	}
	.news-block {
		padding: 30px 30px;
	}
	.item-news__title {
    font-size: 19px;
}
.item-news__date {
    font-size: 14px;
    margin-bottom: 8px;
}
.item-news__image {
	height: 198px;
	margin-bottom: 18px;
}
.article-block {
	padding: 30px 30px;
}
.col_article {
	padding-right: 15px;
}
.card-block {
	padding-left: 20px;
	padding-right: 20px;
}
.slider-for__item {
    height: 405px;
    }
    .slider-nav__item {
    	height: 90px;
    }
    .slider-nav {
    margin-left: -30px;
}
.feature-card__value {
    font-size: 20px;
    }
    .feature-card {
    font-size: 16px;
    line-height: 28px;
    margin-left: 40px;
}
.info-card {
	margin-bottom: 25px;
}
.consult {
	padding: 20px 15px;
}
.consult__title {
    font-size: 20px;
}
.phone-block__number {
    font-size: 21px;
}
.phone-block__link {
    font-size: 16px;
    }
    .phone-block__number::before {
    	width: 112px;
    }
    .tabs-card a {
    font-size: 16px;
}
.tabs-card li {
	margin-right: 30px;
}
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.header__wrap .phones-item i {
		display: none;
	}
	.header__wrap .phones-item {
		padding-left: 0;
	}
	.header {
		font-size: 13px;
	}
	.logo-descr {
		max-width: 143px;
		margin-left: 14px;
	}
	.menu {
		font-size: 13px;
	}
	.title-big {
		font-size: 35px;
		line-height: 46px;
	}
	.billbord {
		padding-top: 170px;
		padding-bottom: 200px;
		min-height: initial;
	}
	.block-billbord__title strong {
		font-size: 30px;
		line-height: 35px;
	}
	.block-billbord__title span {
		font-size: 18px;
	}
	.block-billbord__title {
		font-size: 27px;
		line-height: 26px;
		margin-bottom: 20px;
	}
	.item-service__image {
		height: 472px;
	}
	.tabs-page a {
		font-size: 16px;
		min-width: 148px;
	}
	.buttons-filter {
		flex-direction: column;
	}
	.buttons-filter .btn-clear {
		margin: 0;
		margin-top: 15px;
	}
	.title-filter {
		font-size: 16px;
	}
	.block-filter .range-catalog {
		width: 196px;
	}
	.descr-big {
		font-size: 18px;
	}
	.title-small {
		font-size: 24px;
	}
	.block-form .descr-big {
		padding: 0;
		padding-bottom: 20px;
	}
	.checkbox-wrap .checkbox {
		white-space: normal;
	}
	.block-form {
		padding: 30px 15px;
	}
	.help .list-main li span {
		margin-bottom: 15px;
	}
	.list-main li {
		font-size: 16px;
		line-height: 25px;
	}
	.help {
		padding-bottom: 60px;
	}
	.help .list-main {
		margin-top: 25px;	
	}
	.instagram .instagram-link {
		margin: 0;
		margin-bottom: 10px;
	}
	.instagram .title-section {
		padding-top: 15px;
		padding-bottom: 30px;
	}
	.footer .social-links {
		display: none;
	}
	.page-numbers {
		font-size: 18px;
	}
	.article-block h1 {
		font-size: 30px;
	}
	.article-block time {
		font-size: 16px;
	}
	.col_article img {
		margin-bottom: 20px;
	}
	.article-block h2 {
		font-size: 22px;
		margin-bottom: 20px;
	}
	.wrapper {
		overflow: hidden;
	}
	.catalog-wrap__left {
		padding-left: 15px;
		padding-right: 15px;
		width: 100% !important;
		padding-bottom: 20px;
		min-height: initial;
	}
	.catalog-wrap__right {
		padding-left: 15px;
		padding-right: 15px;
		left: 0 !important;
		width: 100% !important;
		padding-bottom: 20px;
		position: relative;
	}
	.catalog-wrap__right #map-catalog {
		height: 400px;
	}
	#dragbar {
		display: none;
	}
	.catalog-top {
		margin-top: -36px;
	}
	.card-block .col_pr {
		padding-right: 15px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.header  .menu,
	.block-billbord,
	.header__wrap .phones-item,
	.header__wrap  .location-item,
	.header__wrap .contact-item {
		display: none;
	}
	.billbord {
		padding-top: 120px;
		padding-bottom: 100px;
	}
	.buttons-fixed {
		top: 130px;
	}
	.billbord .title-big {
		padding-bottom: 35px;
	}
	.billbord::before {
		height: 230px;
	} 
	.billbord .title-consult {
		padding-top: 0;
	}
	.services .container {
		top: -50px;
	}
	.services {
		margin-bottom: 0;
	}
	.title-section {
		font-size: 32px;
		line-height: 43px;
	}
	.wrap-filter {
		flex-wrap: wrap;
	}
	.buttons-filter {
		flex-direction: row;
	}
	.buttons-filter .btn-clear {
		margin: 0;
		margin-left: 20px;
	}
	.block-filter .range-catalog {
		width: 223px;
	}
	.tabs-page {
		margin-bottom: 30px;
	}
	.consult-block {
		flex-wrap: wrap;
	}
	.consult-block__left {
		max-width: 100%;
		margin-bottom: 30px;
	}
	.help .title-section {
		padding-top: 40px;
	}
	.help .block-form {
		float: none;
		padding: 30px;
	}
	.block-form .btn-main {
		margin-bottom: 20px;
	}
	.item-step__title {
		font-size: 20px;
	}
	.steps {
		padding-bottom: 40px;
	}
	.mortgage .title-section {
		padding-bottom: 25px;
	}
	.favorites .catalog-wrap {
		padding-bottom: 25px;
	}
	.slider-reviews {
		margin-top: 0px;
	}
	.instagram-image {
		display: none;
	}
	.row_insta {
		margin-top: 25px;
	}
	.instagram {
		padding-bottom: 40px;
	}
	.mortgage {
		padding-top: 40px;
		padding-bottom: 50px;
	}
	.favorites .section-dark {
		padding-bottom: 120px;
	}
	.reviews {
		padding-top: 35px;
	}
	.instagram .title-section {
		padding-bottom: 25px;
	}
	.contacts-block {
		position: relative;
		top: 0;
		left: 0;
	}
	.contacts {
		background-color: #27313e;
	}
	#map {
		height: 350px;
	}
	.footer__wrap {
		flex-wrap: wrap;
	}
	.footer__wrap .location-item {
		width: 33%;
	}
	.footer__wrap .logo-wrap {
		width: 100%;
		margin-bottom: 25px;
	}
	.footer {
		font-size: 13px;
	}
	.footer .menu {
		flex-wrap: wrap;
	}
	.footer .menu li {
		width: 25%;
		text-align: center;
	}
	.footer__bottom .row > div {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.footer__bottom .row > div:nth-child(2) {
		text-align: right;
	}
	.btn_nav {
		display: inline-block;
	}
	.menu-mobile {
		font-size: 14px;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: 100vh;
		overflow: auto;
		padding: 15px 15px;
		padding-bottom: 120px;
		    background-color: #27313e;
		    display: none;
	}
	.header.active {
		 background-color: #27313e;
	}
	.menu-mobile .social-links a {
		    background-color: #3f4a58;
	}
	.menu-mobile .menu {
		display: block;
	}
	.menu__haschild a {
		display: block;
	}
	.menu li ul {
		padding: 0;
		width: 100%;
		position: relative;
		top: 0;
		left: 0;
		visibility: visible;
		opacity: 1;
		display: none;
		transition: 0;
	}
	.menu-mobile .social-links,
	.menu-mobile .phones-item,
	.menu-mobile .contact-item,
	.menu-mobile .location-item {
		margin-top: 15px;
	}
	.consult-block__right {
		width: 100%;
	}
	.wrapper_page {
    padding-top: 123px;
}
.title-page {
	font-size: 30px;
	padding-bottom: 15px;
}
.page-numbers {
	margin: 0 20px;
}
.slider-for {
	margin-right: 0;
}
.slider-nav {
	margin: 0 -5px;
	margin-top: 15px;
}
.slider-nav__item {
	margin: 0 5px;
}
#map-card {
	height: 380px;
}
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.title-big {
		font-size: 31px;
		line-height: 41px;
	}
	.buttons-fixed {
		bottom: 0;
		left: 0;
		width: 100%;
		display: flex;
		align-items: center;
		top: auto;
	}
	.buttons-fixed li {
		flex: 1;
	}
	.buttons-fixed a {
		margin: 0;
		border-radius: 0;
		width: 100%;
	}
	.billbord::before {
		height: 110px;
	}
	.item-service__image {
		height: 425px;
	}
	.tabs-page {
		flex-wrap: wrap;
		margin-bottom: 10px;
	}
	.tabs-page li {
		width: 50%;
	}
	.tabs-page a {
		margin: 5px;
		display: flex;
	}
	.wrap-filter__item:first-child {
		width: 100%;
	}
	.block-filter .range-catalog {
		width: 200px;
	}
	.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
		font-size: 12px;
	}
	.block-filter {
		padding-left: 20px;
		padding-right: 20px;
	}
	.item-catalog__image {
		height: 240px;
	}
	.consult-block {
		padding: 30px;
	}
	.consult-block .form-line .item-form {
		width: 215px;
	}
	.title-section {
		font-size: 30px;
		line-height: 40px;
	}
	.help .list-main li::before {
		width: 33px;
		height: 33px;
	}
	.help .list-main li {
		padding-left: 44px;
		padding-right: 4px;
	}
	.list-main li {
		font-size: 14px;
		line-height: 22px;
		padding-top: 8px;
		padding-left: 50px;
	}
	.help .list-main li {
		line-height: 23px;
	}
	.help .list-main li span {
		margin-bottom: 5px;
	}
	.title-small {
		font-size: 20px;
	}
	.help .title-section {
		padding-bottom: 25px;
	}
	.row_steps > div {
		margin-bottom: 25px;
	}
	.mortgage-block ul li {
		margin: 10px 0;
	}
	.mortgage-block__icon {
		margin-bottom: 10px;
	}
	.mortgage-block {
		padding-left: 20px;
		padding-right: 20px;
	}
	.row_min > div {
		margin-bottom: 15px;
	}
	.slider-reviews {
		padding-bottom: 35px;
	}
	.instagram .title-section {
		padding-top: 0;
	}
	.col_lr {
		padding: 0 15px;
	}
	.row_insta {
		margin: 0 -5px;
		margin-top: 20px;
	}
	.row_insta > div {
		padding: 0 5px;
	}
	.row_contacts > div {
		margin-bottom: 15px;
	}
	.contacts-block {
		font-size: 16px;
		padding: 20px;
	}
	.footer .phones-item,
	.footer__wrap .contact-item,
	.footer__wrap .location-item {
		width: 50%;
		margin-bottom: 10px;
	}
	.footer__wrap {
		padding-bottom: 15px;
	}
	.footer .menu li {
		width: 50%;
		text-align: left;
	}
	.footer__bottom .row > div,
	.footer__bottom .row > div:nth-child(2) {
		text-align: center;
	}
	.btn-main {
		font-size: 14px;	
	}
	.form-line .btn-main {
		padding: 0 25px;
	}
	.form-line .item-form {
		width: 229px;
	}
	.billbord .title-consult {
		padding-bottom: 7px;
	}
.article-block h1 {
    font-size: 26px;
}
.article-block {
	padding: 25px 20px;
}
.article-block h2 {
    font-size: 20px;
    margin-bottom: 15px;
}
.catalog-top {
	padding-top: 20px;
}
.bottom-button .btn-main {
    height: 55px;
    padding: 0 40px;
    font-size: 16px;
}
.title-block {
    font-size: 26px;
    }
    .slider-for__item {
    height: 285px;
}
.slider-nav__item {
    height: 63px;
}
.info-card {
	flex-wrap: wrap;
}
.info-card__price {
	width: 100%;
	margin-bottom: 15px;
}
.feature-card {
	margin-right: 25px;
	margin-left: 0;
}
.feature-card:last-child {
	margin-right: 0;
}
.info-card {
	padding-top: 20px;
}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.title-big {
		font-size: 25px;
		line-height: 32px;
	}
	.form-line {
		display: block;
	}
	.form-line .item-form {
		width: 100%;
		margin: 0;
		margin-bottom: 19px;
	}
	.form-line .btn-main {
		width: 100%;
	}
	.catalog .title-section, .services .title-section {
		padding-bottom: 15px;
		margin-bottom: 30px;
	}
	.item-service__list li {
		margin-top: 15px;
	}
	.title-section {
		font-size: 24px;
		line-height: 35px;
	}
	.block-filter .range-catalog {
		width: 100%;
	}
	.wrap-filter__item {
		width: 100%;
	}
	.tabs-page a {
		font-size: 14px;
		min-width: 125px;
		height: 44px;
	}
	.buttons-filter {
		flex-direction: column;
	}
	.buttons-filter .btn-clear {
		margin: 0;
		margin-top: 25px;
	}
	.catalog-wrap {
		padding: 15px;
		padding-bottom: 5px;
	}
	.item-catalog__image {
		height: 200px;
	}
	.title-middle {
		font-size: 27px;
		padding-bottom: 16px;
	}
	.descr-big {
		font-size: 16px;
	}
	.consult-block {
		padding: 25px 15px;
	}
	.consult-block .form-line .item-form {
		width: 100%;
	}
	.title-small {
		font-size: 17px;
	}
	.help .list-main {
		display: block;
	}
	.help .list-main li {
		padding-right: 0;
		padding-top: 0;
	}
	.help .block-form {
		padding: 25px 20px;
	}
	.block-form .btn-main {
		margin-bottom: 0;
	}
	.steps {
		padding-top: 40px;
	}
	.item-step {
		padding: 25px 15px;
		font-size: 14px;
	}
	.mortgage .title-section {
		line-height: 34px;
	}
	.mortgage-block ul li {
		padding-right: 0;
	}
	.mortgage-block ul, .item-service__list {
		font-size: 14px;
	}
	.favorites .section-dark {
		padding-top: 40px;
	}
	.contacts-block {
		font-size: 14px;
		padding-bottom: 30px;
	}
	.title-min {
		font-size: 16px;
		padding-bottom: 10px;
	}
	.list-social a {
		margin-bottom: 7px;
	}
	.contacts-block__bottom {
		padding-top: 15px;
	}
	#map {
		height: 290px;
	}
	.footer__wrap .location-item {
		padding-left: 0;
	}
	.footer__wrap .location-item i {
		display: none;
	}
	.card-block,
	.article-block,
	.news-block {
		padding: 25px 15px;
		margin: 0 -15px;
		border-radius: 0;
	}
	.article-block {
		padding-bottom: 30px;
	}
	.article {
		padding-bottom: 0;
	}
	.item-news {
		margin-bottom: 30px;
	}
	.page-numbers {
    margin: 0 8px;
}
.news {
	padding-bottom: 0;
}
.catalog-top {
	padding-bottom: 130px;
}
.item-map {
	display: block;
}
.title-block {
    font-size: 22px;
}
.slider-for__item {
    height: 260px;
}
.feature-card {
	margin-right: 0;
	width: 50%;
	margin-top: 15px;
}
.info-card__price {
	margin-bottom: 5px;
}
.features-block {
	padding: 20px 15px;
	margin-bottom: 25px;
}
.features-block__title {
    font-size: 21px;
    padding-bottom: 10px;
    }
    .features-block__descr {
    	font-size: 16px;
    }
    #map-card {
    	height: 350px;
    }
    .tabs-card li {
    	margin: 0;
    	margin-bottom: 10px;
    }
    .tabs-card {
    	justify-content: space-between;
    }
    .consult__image {
    	width: 70px;
    	height: 70px;
    	margin-right: 15px;
    }
    .consult__title {
    font-size: 18px;
}
.consult__head {
    margin-bottom: 20px;
    }
    .phone-block {
    	margin-bottom: 20px;
    }
    .consult .list-social {
    	flex-wrap: wrap;
    }
    .consult .list-social li {
    	flex: none;
    	width: 50%;
    }
    .slider-nav__item {
    	height: 60px;
    	margin: 0 2px;
    }
    .slider-nav {
    	margin-left: -2px;
    	margin-right: -2px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
 

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
.menu-mobile {
	display: none !important;
}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
@media (min-width: 1400px) {
	.container {
		max-width: 1400px;
	}
}
@media (min-width: 1600px) {
	.container {
		max-width: 1600px;
	}
}